ifserver="influx"
ifport="8086"
ifuser="admin"		# Works if no / password set too
ifpass="passwerd"
ifdb="tomato"
# add any additional mount points to monitor here, space delimited like "/opt /nfs"
disks="/opt"
# add interfaces to gather usage stats
wan="vlan2"
# The LAN subnet for monitoring LAN traffic
lan=192.168.0.0/24
# The bridge interface. Usually br0
bridge=br0
# LAN device <-> WAN monitoring, space delimited
devices="host1 host2"

# Should not be any need to change below here

# The tag for syslog - want it to be the script and not collector.sh
_tag=$(basename $0)

if [ ! -z $_now ]; then
    # If running from collector.sh then the timestamp will be set already
    return
fi

_dir=$(dirname $0)
_data=$_dir/data
_datafile=$_data/$(hostname).$nows.txt
                                                                
if [ ! -d $_data ]; then
    mkdir $_data
fi
                                                                
# A consistent date prevents grafana weirdness with multiple queries
nows=$(date +%s)
_now=$(expr $nows \* 1000000000)
now=$_now

# Use the router name as a tag.  Useful if more than one
_router=$(hostname)
 
# Need to export for calls in subprocesses
export _now
export _router
export _datafile
export _dir
export _logdir
